body{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar{
    margin: 0;
    height: 50px;
    padding: 15px;
    background-color: #00008b;
    color: white;
}

ul{
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

li , p{
    display: inline-block;
}

p{
    margin-left: 70px;
    cursor: default;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 25px;
}

.slidecontainer{
    display: inline-block;
    margin-left: 25px;
    width: 200px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider:hover{
    opacity: 1;
}


.size:hover{
    pointer-events: none;
}

 .sorting{
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 200px;
}

table{

    background-color: green;
    margin: auto;
}

table , td{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    width: 50px;
    color: white;
    padding: 10px;
    font-size: 40px;
}

#start, #generateNewValue{
    display: inline-block;
    font-size: 19px;
    outline: none;
    border: none;
    width: max-content;
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
    background-color: #00008b;
    color: white;
}

#dropdown{
    font-size: 19px;
    padding: 2px;
    box-sizing: content-box;
    margin-left: 15px;
    width: auto;
}
